body {
    margin: 0;
}

.section-1 {
    display: flex;
    justify-content: space-evenly;

}

p {

    width: 300px;
    height: 400px;
    background: silver;

    border: 1px solid black;

    /*margin-left: 10px;*/
    margin-top: 50px;
    margin-bottom: 0;
    /*margin-left: 0;*/
    /*margin-right: 0;*/

    /*padding: 10px;*/
    padding-left: 20px;
    padding-top: 50px;
    box-sizing: border-box;

}


